{{/* Coloring Pages Search Component */}}
<div class="coloring-pages-search-container">
  <div class="coloring-pages-search-wrapper">
    <div class="inline-search-input-group">
      <svg class="inline-search-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
      </svg>
      <input 
        type="text" 
        id="coloring-pages-search-input"
        class="inline-search-input" 
        placeholder="Search coloring pages..."
        aria-label="Search coloring pages"
        autocomplete="off"
        data-url="{{ "" | absLangURL }}"
      >
    </div>
    
    {{/* Results container */}}
    <div id="coloring-pages-search-results" class="inline-search-results hidden">
      <ul id="coloring-pages-search-list" class="inline-search-list">
        {{/* Results will be populated by JavaScript */}}
      </ul>
      <div id="coloring-pages-search-no-results" class="inline-search-no-results hidden">
        <p>No coloring pages found</p>
      </div>
    </div>
  </div>
</div>