{{/* Custom head extensions - Debug version */}}

{{/* Preconnect to improve performance */}}
<link rel="preconnect" href="https://cdn.sanity.io">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

{{/* LCP Preload Hints for Critical Images */}}
{{/* Note: This partial receives .Site context, so we use site.Params */}}

{{/* Homepage Hero Image */}}
{{ with .Params.homepage.homepageImage }}
  {{/* Preload hero image for desktop (LCP optimization) */}}
  <link rel="preload" 
        as="image" 
        href="{{ . }}" 
        media="(min-width: 1024px)"
        fetchpriority="high">
{{ end }}

{{/* Category Page - First Category Card Images */}}
{{/* Get first category for preloading its thumbnail images */}}
{{ $firstCategory := "" }}
{{ $excludeSections := slice "posts" "pages" "coloring-pages" }}
{{ range .Sections }}
  {{ if not (in $excludeSections .Section) }}
    {{ if .Params.featureimage }}
      {{ if not $firstCategory }}
        {{ $firstCategory = . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ with $firstCategory }}
  {{ $responsive := .Params.responsive_images }}
  {{ if $responsive }}
    {{/* Preload responsive images for first category card (LCP optimization) */}}
    <link rel="preload" 
          as="image" 
          href="{{ $responsive.thumbnail_768 }}" 
          media="(min-width: 768px)"
          fetchpriority="high">
    <link rel="preload" 
          as="image" 
          href="{{ $responsive.thumbnail_300 }}" 
          media="(max-width: 767px)"
          fetchpriority="high">
  {{ end }}
{{ end }}

{{/* Collection Post Pages - Hero Image and First Embedded Image */}}
{{/* Detect single pages with hero images (collection posts) */}}
{{ $isCollectionPost := and (eq .Kind "page") (not .IsHome) (not .IsSection) }}
{{ if $isCollectionPost }}
  {{/* Preload hero image if showHero is enabled */}}
  {{ if .Params.showHero }}
    {{ with .Params.image }}
      {{/* Parse the Sanity URL to create responsive versions for preload */}}
      {{ $baseUrl := . }}
      {{ if strings.Contains $baseUrl "cdn.sanity.io" }}
        {{/* Create responsive hero URLs for different screen sizes */}}
        {{ $heroMobile := replaceRE "([?&])w=\\d+" "${1}w=800" $baseUrl }}
        {{ $heroDesktop := replaceRE "([?&])w=\\d+" "${1}w=1200" $baseUrl }}
        
        {{/* Preload responsive hero images for collection posts */}}
        <link rel="preload" 
              as="image" 
              href="{{ $heroDesktop }}" 
              media="(min-width: 768px)"
              fetchpriority="high">
        <link rel="preload" 
              as="image" 
              href="{{ $heroMobile }}" 
              media="(max-width: 767px)"
              fetchpriority="high">
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{/* Include coloring pages search JavaScript */}}
{{ $coloringSearchJS := resources.Get "js/coloring-pages-search.js" }}
{{ if $coloringSearchJS }}
  {{ $coloringSearchJS := $coloringSearchJS | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $coloringSearchJS.RelPermalink }}" integrity="{{ $coloringSearchJS.Data.Integrity }}"></script>
{{ end }}

{{/* Include mega menu hover intent JavaScript */}}
{{ $megaMenuJS := resources.Get "js/mega-menu.js" }}
{{ if $megaMenuJS }}
  {{ $megaMenuJS := $megaMenuJS | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $megaMenuJS.RelPermalink }}" integrity="{{ $megaMenuJS.Data.Integrity }}"></script>
{{ end }}

{{/* Include forms JavaScript for contact and newsletter forms */}}
{{ $formsJS := resources.Get "js/forms.js" }}
{{ if $formsJS }}
  {{ $formsJS := $formsJS | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $formsJS.RelPermalink }}" integrity="{{ $formsJS.Data.Integrity }}"></script>
{{ end }}

{{/* Cookie Consent Assets */}}
{{ if site.Params.cookieConsent.enabled }}
  {{/* Cookie Consent CSS */}}
  {{ $cookieCSS := resources.Get "css/cookie-consent.css" }}
  {{ if $cookieCSS }}
    {{ $cookieCSS := $cookieCSS | resources.Minify | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $cookieCSS.RelPermalink }}" integrity="{{ $cookieCSS.Data.Integrity }}">
  {{ end }}
  
  {{/* Cookie Consent JavaScript */}}
  {{ $cookieJS := resources.Get "js/cookie-consent.js" }}
  {{ if $cookieJS }}
    {{ $cookieJS := $cookieJS | resources.Minify | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $cookieJS.RelPermalink }}" integrity="{{ $cookieJS.Data.Integrity }}"></script>
  {{ end }}
{{ end }}